{% if request.user.is_authenticated %}
  <div class="btn-group">
    <button type="button" class="btn dropdown-toggle font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ request.user.get_full_name }}
    </button>
    <div class="dropdown-menu dropdown-menu-right mt-3">
      <a href="#" class="dropdown-item py-2">Профиль</a>
      <a href="{% url 'my_resume' %}" class="dropdown-item py-2">Резюме</a>
      <a href="{% url 'my_company' %}" class="dropdown-item py-2">Компания</a>
      <a href="{% url 'logout' %}" class="dropdown-item py-2">Выйти</a>
    </div>
  </div>
{% else %}
  <a href="{% url 'login' %}" class="nav-link font-weight-bold">Вход</a>
{% endif %}