{% extends "base.html" %}
{% load humanize %}

{% block title %}Вакансии моей компании | {{ block.super }}{% endblock title %}

{% block content %}
  <div class="row mt-5">
    {% include 'base_user_menu.html' %}
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-body px-4 pb-4">
          <section class="tab-pane fade show active">
            <h2 class="h4 pt-2 pb-3">Вакансии</h2>
            {% if vacancies %}
              {% for vacancy in vacancies %}
                <div class="card mt-3">
                  <div class="card-body px-4">
                    <div class="row align-items-center">
                      <div class="col-6 col-lg-8">
                        <p class="mb-1">{{ vacancy.title }}</p>
                        <p class="mb-1">
                          <span class="mr-4">{{ vacancy.salary_min|intcomma }} - {{ vacancy.salary_max|intcomma }}</span>
                          {% if vacancy.applications_count %}
                            <a href="{% url 'my_vacancy' vacancy.id %}" class="text-info">{{ vacancy.applications_count }} отклика</a>
                          {% else %}
                            <span class="text-muted">Нет откликов</span>
                          {% endif %}
                        </p>
                      </div>
                      <div class="col-6 col-lg-4 text-right">
                        <a href="{% url 'my_vacancy' vacancy.id %}" class="btn btn-outline-info">Изменить</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <p class="alert alert-info" role="alert">У вас пока нет вакансий, но вы можете создать первую!</p>
            {% endif %}
            <br><a href="{% url 'create_vacancy' %}" class="btn btn-info">Добавить вакансию</a>
          </section>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}