{% extends "base.html" %}
{% load humanize %}

{% block title %}Вакансия | {{ block.super }}{% endblock title %}

{% block content %}
  <div class="row mt-5">
    <div class="col-12 col-lg-2">
      <div class="pl-3 mb-5">
        <p><button onclick="history.back()" class="btn btn-link">Назад</button></p>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <section class="pl-3">
        <a href="{% url 'company' vacancy.company.id %}">
          <img src="{{ vacancy.company.logo.url }}" width="130" height="80" alt="">
        </a>
        <div class="d-flex align-items-baseline align-content-baseline">
          <h1 class="h2 mt-4 font-weight-bold" >{{ vacancy.title }}</h1>
          <p class="m-0 pl-3">{{ vacancy.salary_min|intcomma }} – {{ vacancy.salary_max|intcomma }} Р</p>
        </div>
        <p class="mt-2">{{ vacancy.skills }}</p>
        <p class="text-muted mb-4">
          {{ vacancy.company.name }} ({{ vacancy.company.employee_count }} человек),
          {{ vacancy.company.location }} или удаленно
        </p>
        <div style="line-height: 1.8;">
          <p>{{ vacancy.description }}</p>
        </div>
        <form method="post" action="{% url 'application_send' vacancy.id %}" class="card mt-4 mb-3"> {% csrf_token %}
          {% load crispy_forms_tags %}
          <div class="card-body mx-3">
            <p class="h5 mt-3 font-weight-normal">Отозваться на вакансию</p>
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary mt-4 mb-2" value="Записаться на пробный урок">
          </div>
        </form>
      </section>
    </div>
  </div>
{% endblock content %}